/* styles go here */

.container {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.legend {
  margin-left: 0;
}

.label {
  display: block;
  margin-top: 5.5px;
  margin-bottom: 10px;
}
