/* styles go here */

fieldset {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

legend {
  margin-left: 0;
}

h3 {
  font-weight: 400;
  display: inline-block;
}

h4 {
  font-weight: 400;
  display: inline-block;
}

label {
  display: block;
  margin-top: 5.5px;
  margin-bottom: 10px;
}
